*,*::after,*::before{
    box-sizing: border-box;
}

h1,h2{
    margin:0;
}

p{
    margin: 8px;
}

body{
    margin:0;
   max-width:800px;
    margin: 8px auto;
    background-color: rgb(252, 172, 172);
}

.container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "search search"    
    "current current"
    "hourly hourly"
    "fiveday fiveday"
    "feelslike humidity";
    gap: 8px;
   
    
}

#search{
    grid-area: search;
    border-radius: 8px;
    padding: 10px;
    font-size: large;
}

input:hover{
    background-color: rgb(252, 172, 172);
}

.container, .container>article{
    border: 1px solid;
    border-radius: 16px;
    padding: 16px;
    gap: 8px;
    box-shadow: 0px 0px 5px 2px  darkred;
}

#current-forecast{
    grid-area: current;
    text-align: center;
    background-image: url(image/undraw_weather_re_qsmd\ \(1\).svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

#current-forecast .temp{
    font-size: xx-large;
}


#current-forecast .description{
    text-transform: capitalize;
    font-weight: bold;
    font-size: large;
}

#current-forecast .min-max-temp{
    font-weight: bold;
    font-size: large;
    gap: 20px;
}


#hourly-forecast{
    grid-area: hourly;
    text-align: center;
}

#hourly-forecast .hourly-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-flow: column;
    grid-auto-columns: minmax(100px, 1fr);
    overflow-x: auto;
}



#fiveday-forecast{
    grid-area: fiveday;
    text-align: center;
}

#fiveday-forecast .five-day-forecast-container{
  display:grid;
  grid-auto-flow: row;
  overflow-x: auto;
}

.five-day-forecast-container .day-wise-forecast{
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  gap: 8px;
  place-items:center;

}

.five-day-forecast-container .day-wise-forecast .min-temp,
.five-day-forecast-container .day-wise-forecast .max-temp{
    font-weight: bold;
    font-size: large;
  
}

.five-day-forecast-container .day-wise-forecast .min-temp{
  opacity: 50%;
}

.five-day-forecast-container .day-wise-forecast .max-temp{
    justify-self: end;
}

.five-day-forecast-container .day-wise-forecast .icon{
  width: 75px;
  height: 75px;
}

.five-day-forecast-container .day-wise-forecast .day{
    text-transform: capitalize;
    justify-self: start;
  }

#feelslike{
   grid-area: feelslike;
   text-align: center;
  
}

#humidity{
    grid-area: humidity;
    text-align: center;
   
}

@media (width>=650px) {
    .container{
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        "search search search search"    
        "current current current current"
        "hourly hourly fiveday fiveday"
        "feelslike humidity fiveday fiveday";
    }
}